<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Wato_Humanoid_V1">
  <!-- Isaac Lab: Z-up root. CAD base_link is Y-long; fixed joint stands the robot.
       Extra -90 deg yaw on top of the up-axis fix: the X-only rotation above left
       CAD's true forward (Z) mapped onto Isaac's Y axis, and CAD's lateral (X, the
       Hip_F_L/Hip_F_R separation axis) mapped onto Isaac's X; i.e. "forward" was on
       Y and "sideways" was on X, opposite of Isaac Lab's local-+X-forward convention.
       This produced a persistent crab-like gait: lin_vel_x commands were being
       satisfied by strafing along the robot's true lateral axis. This yaw term
       rotates the horizontal plane only (up/down mapping is unchanged) so CAD-forward
       lands on +X and CAD-lateral lands on Y (left = +Y). -->
  <link name="base">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
  <joint name="base_to_base_link" type="fixed">
    <origin xyz="0 0 0" rpy="-1.5707963267948966 0 -1.5707963267948966" />
    <parent link="base" />
    <child link="base_link" />
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0178256130027216 -0.312045347129039 -0.0234215650852464"
        rpy="0 0 0" />
      <mass
        value="28.3605218282777" />
      <inertia
        ixx="0.69401923698989"
        ixy="-9.82144199065855E-05"
        ixz="-3.12577275416637E-07"
        iyy="0.302249953263776"
        iyz="-0.00405559425216514"
        izz="0.907237093065294" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Hip_F_L">
    <inertial>
      <origin
        xyz="-0.0765965252608057 -0.0742870984999665 0.000260489105071417"
        rpy="0 0 0" />
      <mass
        value="1.85927937041764" />
      <inertia
        ixx="0.00466928532754938"
        ixy="0.000680272307916565"
        ixz="-3.20305099316354E-05"
        iyy="0.0048433423507958"
        iyz="1.88355338559742E-06"
        izz="0.00462810834146459" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Hip_F_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Hip_F_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Hip_F_L"
    type="revolute">
    <origin
      xyz="-0.101313616221018 -0.00597208811090948 -0.00261740055167056"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="Hip_F_L" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.3491"
      upper="1.5708"
      effort="222"
      velocity="3.6652" />
  </joint>
  <link
    name="Hip_A_L">
    <inertial>
      <origin
        xyz="-3.85907761302207E-09 -0.0581841592513654 -0.081037989718635"
        rpy="0 0 0" />
      <mass
        value="2.17786049871613" />
      <inertia
        ixx="0.010356099240432"
        ixy="5.51142159865326E-10"
        ixz="-1.15261408091874E-10"
        iyy="0.00534355844537912"
        iyz="0.00295380494251491"
        izz="0.00927736349194753" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Hip_A_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Hip_A_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Hip_A_L"
    type="revolute">
    <origin
      xyz="-0.069 0 0"
      rpy="0 0 0" />
    <parent
      link="Hip_F_L" />
    <child
      link="Hip_A_L" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.1745"
      upper="1.0472"
      effort="120"
      velocity="20.944" />
  </joint>
  <link
    name="Thigh_L">
    <inertial>
      <origin
        xyz="-0.0140461341993555 -0.00261881131754188 -0.141650563901102"
        rpy="0 0 0" />
      <mass
        value="6.3925834479658" />
      <inertia
        ixx="0.0377767427668699"
        ixy="-0.000125319204693723"
        ixz="0.000606433362371239"
        iyy="0.0412576137629967"
        iyz="8.37171849815304E-05"
        izz="0.0179331997635995" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Thigh_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Thigh_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Hip_R_L"
    type="revolute">
    <origin
      xyz="0 0 -0.130499999999998"
      rpy="0 0 0" />
    <parent
      link="Hip_A_L" />
    <child
      link="Thigh_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5236"
      upper="1.5708"
      effort="60"
      velocity="20.42" />
  </joint>
  <link
    name="Calf_L">
    <inertial>
      <origin
        xyz="-0.00422263266641851 -0.00845674308430088 -0.161909849422175"
        rpy="0 0 0" />
      <mass
        value="4.57276009601776" />
      <inertia
        ixx="0.0507142410332034"
        ixy="0.000167037114742281"
        ixz="0.00269071976805593"
        iyy="0.0509548750553291"
        iyz="-0.00194248642921232"
        izz="0.00972460386909208" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Calf_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Calf_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Knee_L"
    type="revolute">
    <origin
      xyz="0 0 -0.261500000000557"
      rpy="0.00655041529097143 0 0" />
    <parent
      link="Thigh_L" />
    <child
      link="Calf_L" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.134464014"
      upper="0"
      effort="222"
      velocity="3.6652" />
  </joint>
  <link
    name="Ankle_L">
    <inertial>
      <origin
        xyz="-0.000300000000031247 0.00202712541456969 -0.00967253391125056"
        rpy="0 0 0" />
      <mass
        value="0.263617094766663" />
      <inertia
        ixx="0.000135227765188618"
        ixy="3.29713388840002E-19"
        ixz="-1.10561449646542E-18"
        iyy="8.62171882849032E-05"
        iyz="4.41444728891872E-06"
        izz="0.000108479948629321" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Ankle_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Ankle_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Ankle_P_L"
    type="revolute">
    <origin
      xyz="0 0 -0.393599999999988"
      rpy="-0.00655041529097143 0 0" />
    <parent
      link="Calf_L" />
    <child
      link="Ankle_L" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.5236"
      upper="0.8727"
      effort="120"
      velocity="20.42" />
  </joint>
  <link
    name="Foot_L">
    <inertial>
      <origin
        xyz="-9.1537702898159E-07 0.0576363382230524 -0.0232669155388406"
        rpy="0 0 0" />
      <mass
        value="1.88969474620874" />
      <inertia
        ixx="0.00770783639371384"
        ixy="-8.52856224218189E-08"
        ixz="4.10733361351515E-08"
        iyy="0.00204838176587607"
        iyz="-0.000195649387406003"
        izz="0.00890782288027548" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Foot_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Foot_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Ankle_R_L"
    type="revolute">
    <origin
      xyz="-0.00030000000003183 0 -0.0179333346595372"
      rpy="0 0 0" />
    <parent
      link="Ankle_L" />
    <child
      link="Foot_L" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.5236"
      upper="0.5236"
      effort="120"
      velocity="20.42" />
  </joint>
  <link
    name="Hip_F_R">
    <inertial>
      <origin
        xyz="0.0765965502181098 -0.0742870765499794 0.00026051884040908"
        rpy="0 0 0" />
      <mass
        value="1.85928075179988" />
      <inertia
        ixx="0.00466928726772697"
        ixy="-0.000680273181631613"
        ixz="3.20281948463189E-05"
        iyy="0.00484334527161812"
        iyz="1.88499415644764E-06"
        izz="0.00462811026523055" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Hip_F_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Hip_F_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Hip_F_R"
    type="revolute">
    <origin
      xyz="0.06568638377897 -0.00597208811090948 -0.00261740055167058"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="Hip_F_R" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.3491"
      upper="1.5708"
      effort="222"
      velocity="3.6652" />
  </joint>
  <link
    name="Hip_A_R">
    <inertial>
      <origin
        xyz="-3.83893161703952E-09 -0.058184157660292 -0.081037989798686"
        rpy="0 0 0" />
      <mass
        value="2.17786045043723" />
      <inertia
        ixx="0.0103560993252746"
        ixy="5.4259602096013E-10"
        ixz="-1.1309107518557E-10"
        iyy="0.00534355840536511"
        iyz="0.0029538049638703"
        izz="0.00927736355076564" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Hip_A_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Hip_A_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Hip_A_R"
    type="revolute">
    <origin
      xyz="0.069000000000001 0 0"
      rpy="0 0 0" />
    <parent
      link="Hip_F_R" />
    <child
      link="Hip_A_R" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.1745"
      upper="1.0472"
      effort="120"
      velocity="20.944" />
  </joint>
  <link
    name="Thigh_R">
    <inertial>
      <origin
        xyz="0.0140461758796909 -0.00261879925221624 -0.141650509908182"
        rpy="0 0 0" />
      <mass
        value="6.39258174798958" />
      <inertia
        ixx="0.0377767089802132"
        ixy="0.000125322393772352"
        ixz="-0.000606453721600612"
        iyy="0.0412575794633918"
        iyz="8.37142115209935E-05"
        izz="0.0179331982884892" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Thigh_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Thigh_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Hip_R_R"
    type="revolute">
    <origin
      xyz="0 0 -0.130499999999985"
      rpy="0 0 0" />
    <parent
      link="Hip_A_R" />
    <child
      link="Thigh_R" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.5236"
      upper="1.5708"
      effort="60"
      velocity="20.42" />
  </joint>
  <link
    name="Calf_R">
    <inertial>
      <origin
        xyz="0.00422281549892706 -0.00845659877907993 -0.161909818734479"
        rpy="0 0 0" />
      <mass
        value="4.57276562417178" />
      <inertia
        ixx="0.0507142565854391"
        ixy="-0.000167040591606664"
        ixz="-0.00269075052939453"
        iyy="0.0509548797557359"
        iyz="-0.00194250943812969"
        izz="0.00972462326955457" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Calf_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Calf_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Knee_R"
    type="revolute">
    <origin
      xyz="0 0 -0.261500000000547"
      rpy="0.00655041529097143 0 0" />
    <parent
      link="Thigh_R" />
    <child
      link="Calf_R" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.134464014"
      upper="0"
      effort="222"
      velocity="3.6652" />
  </joint>
  <link
    name="Ankle_R">
    <inertial>
      <origin
        xyz="0.000300000000032413 0.00202712541479553 -0.00967253390667422"
        rpy="0 0 0" />
      <mass
        value="0.26361709455037" />
      <inertia
        ixx="0.000135227765103666"
        ixy="-1.60681221536005E-20"
        ixz="3.43203452596199E-20"
        iyy="8.62171882299548E-05"
        iyz="4.4144472898776E-06"
        izz="0.000108479948532872" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Ankle_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Ankle_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Ankle_P_R"
    type="revolute">
    <origin
      xyz="0 0 -0.393599999999998"
      rpy="-0.00655041529097143 0 0" />
    <parent
      link="Calf_R" />
    <child
      link="Ankle_R" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.5236"
      upper="0.8727"
      effort="120"
      velocity="20.42" />
  </joint>
  <link
    name="Foot_R">
    <inertial>
      <origin
        xyz="-1.17640058550084E-06 0.0576296116869578 -0.0232668040239051"
        rpy="0 0 0" />
      <mass
        value="1.88960670537209" />
      <inertia
        ixx="0.00770744513710908"
        ixy="1.10429456791108E-07"
        ixz="-2.71312526885416E-08"
        iyy="0.00204843890809921"
        iyz="-0.000195606840062407"
        izz="0.00890734192555341" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Foot_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Foot_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Ankle_R_R"
    type="revolute">
    <origin
      xyz="0.000300000000032413 0 -0.0179333346595372"
      rpy="0 0 0" />
    <parent
      link="Ankle_R" />
    <child
      link="Foot_R" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.5236"
      upper="0.5236"
      effort="120"
      velocity="20.42" />
  </joint>
</robot>
